## Analisis explortatorio del dataframe

Inicializacion de los datos y consulta general de la informacion.

In [24]:
# Carga de las librerias necesarias

import pandas as pd 
import plotly.express as px

# Lectura de los datos del dataframe 

df = pd.read_csv('/Users/leonardo/Documents/Python/Herramientas de desarrollo de software/App-web/vehicles_us.csv')

# Impresion de la informacion general de dt

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

Impresion de muestra de df, conuslta de los datos duplicados en el df.

In [25]:
# Impresion de una muestra de los datos 

display(df.sample(10, random_state=100))

# Consulta de los datos duplicados de dt

print()
print('El numero de datos duplicados en df es:', df.duplicated().sum())

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
1207,14990,2012.0,buick enclave,excellent,6.0,gas,72228.0,automatic,SUV,red,1.0,2019-01-26,54
40339,30588,2018.0,chevrolet colorado,like new,NaN,gas,NaN,automatic,truck,blue,1.0,2019-04-10,29
40018,34875,NaN,chevrolet silverado 2500hd,good,8.0,diesel,26174.0,automatic,truck,NaN,NaN,2019-03-08,14
46433,2995,2012.0,dodge grand caravan,excellent,6.0,gas,170000.0,automatic,van,silver,NaN,2019-03-19,30
46861,14500,2011.0,chevrolet tahoe,excellent,8.0,gas,116447.0,automatic,SUV,black,1.0,2018-11-27,43
16050,19700,2017.0,chevrolet camaro lt coupe 2d,good,6.0,gas,35807.0,other,coupe,NaN,NaN,2019-04-17,7
26753,10495,2012.0,jeep liberty,excellent,6.0,gas,100356.0,automatic,wagon,NaN,1.0,2018-06-30,15
51195,21999,NaN,ram 2500,good,6.0,diesel,NaN,automatic,truck,white,1.0,2018-05-10,35
37216,3995,2007.0,hyundai santa fe,excellent,6.0,gas,178000.0,automatic,SUV,brown,NaN,2018-10-18,19
15503,5350,2015.0,ford focus,excellent,4.0,gas,NaN,automatic,sedan,grey,NaN,2019-04-14,46

El numero de datos duplicados en df es: 0

A primera vista no hay filas duplicadas en el data frame.

Comenzaremos a trabajar con los datos ausentes del dataframe.

In [26]:
# Consulta de datos ausentes de df

print(df.isna().sum())

# Impresion de datos unicos de la columna 'is_4wd'

print()
print(df['is_4wd'].unique())
print()

# Calculo de la media de 'odometer' y de la mediana de 'model_year'

odometer_mean = df['odometer'].mean().astype('int')
year_median = df['model_year'].median()

# Remplazo de los valores vacios del dataframe con valores significativos 

df['model_year'] = df['model_year'].fillna(year_median)
df['cylinders'] = df['cylinders'].fillna(0)
df['odometer'] = df['odometer'].fillna(odometer_mean)
df['paint_color'] = df['paint_color'].fillna('unknown')
df['is_4wd'] = df['is_4wd'].fillna(0)

print(df.isna().sum())

display(df.sample(10, random_state=100))

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

[ 1. nan]

price           0
model_year      0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
transmission    0
type            0
paint_color     0
is_4wd          0
date_posted     0
days_listed     0
dtype: int64

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
1207,14990,2012.0,buick enclave,excellent,6.0,gas,72228.0,automatic,SUV,red,1.0,2019-01-26,54
40339,30588,2018.0,chevrolet colorado,like new,0.0,gas,115553.0,automatic,truck,blue,1.0,2019-04-10,29
40018,34875,2011.0,chevrolet silverado 2500hd,good,8.0,diesel,26174.0,automatic,truck,unknown,0.0,2019-03-08,14
46433,2995,2012.0,dodge grand caravan,excellent,6.0,gas,170000.0,automatic,van,silver,0.0,2019-03-19,30
46861,14500,2011.0,chevrolet tahoe,excellent,8.0,gas,116447.0,automatic,SUV,black,1.0,2018-11-27,43
16050,19700,2017.0,chevrolet camaro lt coupe 2d,good,6.0,gas,35807.0,other,coupe,unknown,0.0,2019-04-17,7
26753,10495,2012.0,jeep liberty,excellent,6.0,gas,100356.0,automatic,wagon,unknown,1.0,2018-06-30,15
51195,21999,2011.0,ram 2500,good,6.0,diesel,115553.0,automatic,truck,white,1.0,2018-05-10,35
37216,3995,2007.0,hyundai santa fe,excellent,6.0,gas,178000.0,automatic,SUV,brown,0.0,2018-10-18,19
15503,5350,2015.0,ford focus,excellent,4.0,gas,115553.0,automatic,sedan,grey,0.0,2019-04-14,46

Implementacion de mejoras en los datos.

In [27]:
# Cambio de tipo de datos en columnas 'model_year', 'cylinders', 'odometer' y 'is_4wd' a int

df['model_year'] = df['model_year'].astype('int')
df['cylinders'] = df['cylinders'].astype('int')
df['odometer'] = df['odometer'].astype('int')
df['is_4wd'] = df['is_4wd'].astype('int')

# Cambio de tipo de dato en columan 'date_posted' a date-time

df['date_posted'] = pd.to_datetime(df['date_posted'], format='%Y-%m-%d')

display(df.sample(10, random_state=100))

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
1207,14990,2012,buick enclave,excellent,6,gas,72228,automatic,SUV,red,1,2019-01-26,54
40339,30588,2018,chevrolet colorado,like new,0,gas,115553,automatic,truck,blue,1,2019-04-10,29
40018,34875,2011,chevrolet silverado 2500hd,good,8,diesel,26174,automatic,truck,unknown,0,2019-03-08,14
46433,2995,2012,dodge grand caravan,excellent,6,gas,170000,automatic,van,silver,0,2019-03-19,30
46861,14500,2011,chevrolet tahoe,excellent,8,gas,116447,automatic,SUV,black,1,2018-11-27,43
16050,19700,2017,chevrolet camaro lt coupe 2d,good,6,gas,35807,other,coupe,unknown,0,2019-04-17,7
26753,10495,2012,jeep liberty,excellent,6,gas,100356,automatic,wagon,unknown,1,2018-06-30,15
51195,21999,2011,ram 2500,good,6,diesel,115553,automatic,truck,white,1,2018-05-10,35
37216,3995,2007,hyundai santa fe,excellent,6,gas,178000,automatic,SUV,brown,0,2018-10-18,19
15503,5350,2015,ford focus,excellent,4,gas,115553,automatic,sedan,grey,0,2019-04-14,46