## Analisis explortatorio del dataframe

Inicializacion de los datos y consulta general de la informacion.

In [46]:
# Carga de las librerias necesarias

import pandas as pd 
import plotly.express as px

# Lectura de los datos del dataframe 

df = pd.read_csv('/Users/leonardo/Documents/Python/Herramientas de desarrollo de software/App-web/vehicles_us.csv')

# Impresion de la informacion general de dt

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

Impresion de muestra de df, conuslta de los datos duplicados en el df.

In [47]:
# Impresion de una muestra de los datos 

display(df.sample(10))

# Consulta de los datos duplicados de dt

print()
print('El numero de datos duplicados en df es:', df.duplicated().sum())

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
2223,25399,2015.0,ram 1500,excellent,NaN,gas,103947.0,automatic,pickup,NaN,1.0,2018-05-16,32
20517,5490,2008.0,acura tl,good,NaN,gas,165738.0,automatic,other,blue,NaN,2018-11-24,12
49460,3586,2008.0,ford focus,good,4.0,gas,190742.0,automatic,sedan,blue,NaN,2018-12-22,5
448,14088,2014.0,ford mustang,good,6.0,gas,52779.0,manual,coupe,grey,NaN,2018-10-23,73
10508,26600,2016.0,ford mustang gt coupe 2d,good,NaN,gas,31100.0,other,coupe,black,NaN,2019-04-08,20
4511,31999,2014.0,ford f350,excellent,8.0,diesel,128147.0,automatic,pickup,white,1.0,2019-02-15,50
6588,35995,2016.0,ford f-150,like new,8.0,gas,29069.0,automatic,pickup,blue,1.0,2018-11-23,14
48769,54959,2018.0,chevrolet silverado 2500hd,like new,8.0,diesel,24500.0,automatic,truck,white,1.0,2018-09-16,17
39655,4900,2012.0,jeep liberty,excellent,6.0,gas,161179.0,automatic,SUV,silver,1.0,2019-02-22,27
31150,1,2016.0,ford mustang,excellent,10.0,gas,61823.0,other,coupe,black,1.0,2018-10-05,6

El numero de datos duplicados en df es: 0

A primera vista no hay filas duplicadas en el data frame.

Comenzaremos a trabajar con los datos ausentes del dataframe.